body {
    height: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#beginGame {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    margin: auto;
}

